packages:
  yum:
    git: []
    postgresql93-devel: []
  rpm:
    elasticsearch: https://download.elastic.co/elasticsearch/elasticsearch/elasticsearch-1.7.2.noarch.rpm

services:
  sysvinit:
    elasticsearch:
      enabled: true
      ensureRunning: true

container_commands:
  01_bundle_install:
    command: "bundle install"
  02_index_searchkick:
    command: "rake searchkick:reindex:all"
