.container.index
  .row.top-50
    .col-md-6.col-md-offset-4
      .section.group#posts
        .col.span_1_of_4
        .col.span_2_of_4
          %h1 Thank you for your message
          %p We'll get back to you soon
