/ Page Header
%header.masthead{:style => "background-image: url('#{@header_image_url}')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated

/ Main Content
.container
  .row
    .col-lg-8.col-md-10.mx-auto
      - @posts.each do |post|
        .post-preview
          %h2.post-title
            =link_to post.title, post
          %p.post-subtitle
            =sanitize(post.content)
            
  #hr
  .row
    .col-lg-8.col-md-10.mx-auto
      = will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer   

  %br/
  = link_to 'New Post', new_post_path