/ Page Header
%header.masthead{:style => "background-image: url('img/home-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated
          
.container
  %h1.center About Ignite Talks
  .col-md-12
    .row
      .col-md-10.col-md-offset-1.top-50
        %h2 About Ignite Talks
        %p Ignite Talks is a fast-paced geek event started in 2006 by Brady Forrest and Bre Pettis. Since the first Ignite took place in Seattle around 10 years ago, Ignite has become an international phenomenon, with Ignite events produced in Helsinki, Tunisia, Paris, New York City and over 350 other locations in between.
        %p Ignite’s mission is “Everyone Speaks”. We believe that public speaking builds confidence in individuals and that events like Ignite build community. Our goal is to make it possible for anyone, anywhere, to learn to present their ideas and their stories.
        %p Ignite is also about having fun, and showing that presentations don’t need to be about “death by PowerPoint”.