/ Page Header
%header.masthead{:style => "background-image: url('img/home-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated
          
.container
  %h1.center About
  .col-md-12
    .row
      .col-md-10.col-md-offset-1.top-50
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin felis mi, scelerisque ut sagittis et, elementum et massa. Sed consequat ipsum in neque rutrum fermentum. Maecenas ac dictum metus. Maecenas gravida mi eu elit accumsan, non facilisis quam varius. Nullam et mi quis libero aliquet tristique. Sed scelerisque non odio eu aliquet. Vestibulum sem nibh, pulvinar nec ligula non, volutpat consectetur ex. Morbi auctor volutpat leo lobortis hendrerit. Etiam fermentum tincidunt lacus, vitae molestie velit auctor vel. Nam eget suscipit tortor. Sed mattis leo id elit rhoncus vestibulum. Sed ut diam eget augue pretium mollis scelerisque at magna. Aenean rutrum nunc et eros pulvinar, imperdiet dignissim elit faucibus. Pellentesque vestibulum leo scelerisque, tempor nisl venenatis, convallis dolor. Praesent feugiat ultrices tempor. Proin sed justo eleifend, aliquam metus nec, luctus ipsum.