/ Page Header
%header.masthead{:style => "background-image: url('img/home-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Cos working is over-rated
          
%h1 Map goes here