/ Page Header
%link{:href => "//cdn-images.mailchimp.com/embedcode/slim-10_7.css", :rel => "stylesheet", :type => "text/css"}/
%header.masthead.d-none.d-md-block{:style => "background-image: url('https://farm6.staticflickr.com/5177/5513056929_6fa0c4f7fe_b.jpg')"}
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        .site-heading
          %h1 Steve and Glo's travel blog
          %span.subheading Travelling the world since 2001

.container.top-50
  .row
    .col-md-10.mx-auto
      %p Subscribe below, and we'll let you know when there are new posts. We won't use your email for anything else.

      #mc_embed_signup
        .row{:style => "display: block;"}
          %form#mc-embedded-subscribe-form.validate{:action => "https://amazon.us11.list-manage.com/subscribe/post?u=ce6e72f4b0be1ec5bd42f9ab9&id=1ac371fff5", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            .form-group
              #mc_embed_signup_scroll
                %input#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}/
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_ce6e72f4b0be1ec5bd42f9ab9_1ac371fff5", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe"}/
