%footer
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        %ul.list-inline.text-center
          %li.list-inline-item
            %a{:href => "https://www.twitter.com/stephenlead", :target => "_blank"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-twitter.fa-stack-1x.fa-inverse
          %li.list-inline-item
            %a{:href => "mailto:stephen.lead@gmail.com&cc=tonggsy@gmail.com"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-envelope-open-o.fa-stack-1x.fa-inverse
          %li.list-inline-item
            %a{:href => "https://www.github.com/slead/", :target => "_blank"}
              %span.fa-stack.fa-lg
                %i.fa.fa-circle.fa-stack-2x
                %i.fa.fa-github.fa-stack-1x.fa-inverse
        %p.copyright.text-muted Copyright © Stephen Lead and Gloria Tong, 2017