%form.form-inline.my-2.my-lg-0{"aria-label" => "Search blog posts"}
  %input.form-control.mr-sm-2{"aria-label" => "Search", :name => "q", :placeholder => "Search", :type => "search"}/
  %button.btn.btn-outline-light.my-2.my-sm-0{"aria-label" => "Submit search", :type => "submit"}
    %i.fa.fa-search 