/ Navigation
%nav#mainNav.navbar.navbar-expand-md.navbar-light.fixed-top
  .container
    %a.navbar-brand{:href => root_path} Steve and Glo's travel blog
    #navbarResponsive
      %ul.navbar-nav.ml-auto
        %li.nav-item
          %a.nav-link{:href => about_path} About
        %li.nav-item
          %a.nav-link{:href => map_path} Map
