%nav#mainNav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  %a.navbar-brand{:href => root_path} Steve and Glo's travel blog
  %button.navbar-toggler{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarCollapse.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      %li.nav-item
        %a.nav-link{:href => posts_path} Posts
      %li.nav-item
        %a.nav-link{:href => tips_path} Tips
      %li.nav-item
        %a.nav-link{:href => subscribe_path} Subscribe
      %li.nav-item
        %a.nav-link{:href => map_path} Map
      -if user_signed_in?
        %li.nav-item
          %a.nav-link{:href => new_post_path} New Post

    / = form_tag posts_path, class: "form-inline mt-2 mt-md-0", id: "frmSearch", method: :get do
    /   = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off", placeholder: "Search for a post"
    /   = button_tag type: 'submit', class: "btn", id: "btnSearch" do
    /     %i.fa.fa-search

