.notifications
  - if notice
    #notice_wrapper
      .alert.alert-dismissible.fade.show{role: "alert"}
        = notice
        %button.btn-close{type: "button", "data-bs-dismiss": "alert", "aria-label": "Close"}
  - elsif alert
    #alert_wrapper
      .alert.alert-dismissible.fade.show{role: "alert"}
        = alert
        %button.btn-close{type: "button", "data-bs-dismiss": "alert", "aria-label": "Close"}