.container.top-25.text-right
  .row
    .col.col-md-12
      = form_tag posts_path, class: "form-inline pull-right", id: "frmSearch", method: :get do
        = text_field_tag :query, params[:query], class: "form-control", id: "search", autocomplete: "off", placeholder: "Search for a post"
        .input-group
          .input-group-btn
            - if params[:query].present?
              = link_to posts_path, class: "btn btn-default" do
                %i.fa.fa-times
        = submit_tag "Search", class: "btn btn-default", id: "btnSearch"
